body {
  background-color: #f0f8ff;
}

.jeux {
  color: #222322; /* A lively green color for a fresh feel */
  font-size: 48px; /* Large font size for prominence */
  font-family: "Roboto", sans-serif; /* A clean, modern font */
  font-weight: 700; /* Bold weight for emphasis */
  text-align: center; /* Centered text */
  margin: 20px 0; /* Space above and below */
  text-transform: uppercase; /* Uppercase letters for a dynamic effect */
  letter-spacing: 2px; /* Increased letter spacing for modernity */
}
#time {
  color: #333; /* Texte en gris foncé pour un contraste doux */
  text-align: center; /* Centrer le texte */
  font-size: 36px; /* Taille de police plus grande pour l'impact */
  font-family: "Arial", sans-serif; /* Police sans-serif pour un look propre */
  margin: 20px 0; /* Espacement vertical autour du chronomètre */
  padding: 10px; /* Espacement interne pour une meilleure lisibilité */
  border: 2px solid #007bff; /* Bordure d'un bleu simple */
  border-radius: 8px; /* Coins arrondis pour une apparence douce */
  background-color: #f8f9fa; /* Fond en gris clair */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère pour donner de la profondeur */
  animation: fadeIn 1s; /* Animation d'apparition douce */
  transition: transform 0.2s ease-in-out; /* Transition douce pour l'interaction */
}

/* Animation d'apparition pour le chronomètre */
@keyframes fadeIn {
  from {
    opacity: 0; /* Commencer transparent */
    transform: translateY(-5px); /* Déplacement vers le haut */
  }
  to {
    opacity: 1; /* Devenir complètement opaque */
    transform: translateY(0); /* Retourner à la position d'origine */
  }
}

/* Effet de survol simple pour l'interaction */
#time:hover {
  transform: scale(1.03); /* Augmenter légèrement la taille lors du survol */
}

div.jeu {
  height: 500px;
  width: 500px;
  margin: 2em auto;
}

div.case {
  height: 100px;
  width: 100px;
  border: 2px solid #333;
  float: left;
  margin: 10px;
  background-color: #9999ff;
  border-radius: 10px;
  transition: transform 0.2s;
}

div.case:hover {
  transform: scale(1.05);
  background-color: #b3b3ff;
}

img {
  height: 100px;
  width: 100px;
  visibility: hidden;
  border-radius: 10px;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
}

hr {
  clear: both;
  visibility: hidden;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
  color: blue;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
